html
  head
    title Popup Gallery - Config
    link(rel='stylesheet' type='text/css' href= '/assets/style.css' )
    link(rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic')
    link(rel='stylesheet' type='text/css' href='//cdn.rawgit.com/necolas/normalize.css/master/normalize.css')

  body
    div.container
      div.row
        div.column
          h1 Config
          form(action= '/submit-config/' method= 'post')
            fieldset
              div
                input(type='checkbox' id='privateModeCheck' name='privateMode' checked=privateMode)
                label.label-inline(for='privateModeCheck') Private Mode
              div
                input(type='checkbox' id='autoOpenCheck' name='autoOpen' checked=autoOpen)
                label.label-inline(for='autoOpenCheck') Auto-open in browser
              div
                input(type='checkbox' id='cleanupOnExitCheck' name='cleanupOnExit' checked=cleanupOnExit)
                label.label-inline(for='cleanupOnExitCheck') Cleanup on Exit
              div
                label.label-inline(for='portField') Port: (1000-30000)
                br
                input(type='number' id='portField' name='port' required min='1000' max='30000' value=port)
              div
                label.label-inline(for='pageLengthField') Images per Page
                br
                input(type='number' id='pageLengthField' name='pageLength' required min='1' max='50' value=pageLength)
              div
                br
                input.button-primary(type='submit' value='Save')
          if message
            div(class=message.type)
              h4 #{message.header}
              p #{message.body}
          a(href='/') Home
