mixin paginator
  - var n= 0
  ul.pagination
    while n < totalPages
      li
        - n++
        if n != pageNumber
          a(href= '/page/' + n)= n
        else 
          p #{pageNumber}

html
  head
    title Popup Gallery - Page #{pageNumber}
    link(rel='stylesheet' type='text/css' href= '/assets/style.css' )
    link(rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic')
    link(rel='stylesheet' type='text/css' href='//cdn.rawgit.com/necolas/normalize.css/master/normalize.css')
  if privateMode
    body(style='display: none')
  else
    body
      div.container
        div.row
          div.column
            h1 Popup Gallery
            if totalPages      
              +paginator
              
              ul.grid
                each val, index in images
                  li.grid-item
                    a(href= '/' + val)
                      img(src= '/thumbs/' + thumbs[index] alt= val)
              +paginator
            else
              p No files found
            a(href='/config') Config
  script(src='/assets/macy.js')
if privateMode
  script(src='/assets/private.js')
else        
  script(src= '/assets/script.js')
